.App {
  text-align: center;
  background: #8080800f;
}

.friends-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px
}

.friend{
  border: 1px solid #9e9e9e87;
  width: 196px;
  display: block;
  border-radius: 18px;
  height: 158px;
}

.deleteBtn{
  display: flex;
  margin: 8px auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
